checkpoints/**/*.pt
translation_results/**/*.en
translation_results/**/*.th
translation_results/**/*.sys
dataset/**/*.csv
dataset/**/*.idx
dataset/**/*.bin
dataset/**/*.txt
dataset/**/*.th
dataset/**/*.en
dataset/**/*.model
dataset/**/*.vocab
dataset/**/*.tokenized
*.log
temp/**/*.vocab
__pycache__
.vscode
.DS_Store